{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chai Aur Django</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
   
</head>
<body>
    <div class="container">
        <h1>EditMonkey</h1>
        <ul class="top-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><button class="login-btn">Login</button></li>
        </ul>

    </div>
    <h2>Welcome to EditMonkey - About page</h2>
<p>Image Editing App that help to scale and image into various types and many more...</p>
</body>
</html>
